Cortes*Cortes;2;3;5
Microcortes*Microcortes - (Solo tecnicos);1;3;5
Sin Servicio*Sin Servicio;1;2;4;5
Baja Velocidad*Baja Velocidad;3;5
Wsp-Inst-Face*Wsp-Inst-Face;1;2;3;4
Corte Administrativo*Corte Administrativo;1;2;3;4;5